{% extends 'base.html.twig' %}

{% block title %}{{ 'Overview {label}'|trans({label: overview.label}) }}{% endblock %}

{% block content %}
    {{ include('_partials/group_header.html.twig', {group: overview.group, overview: overview}) }}

    {# https://standalone.brenoliradev.com/embed.html#auto-embed-with-target #}
    <div id="ProcessOverview" data-rpa-process-overview-config="{{ overview_config|json_encode }}"></div>
    <script src="/widgets/ProcessOverview.min.js"></script>

    <div id="ProcessSearch" data-rpa-process-search-config="{{ search_config|json_encode }}"></div>
    <script src="/widgets/ProcessSearch.min.js"></script>
{% endblock %}
